@import "tailwindcss";
@import url("./styles/mystyle.css");
@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Abril+Fatface:400,700");

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #f1c40f;
  --light-color: #f8f9fa;
  --dark-color: #2c3e50;
  --success-color: #27ae60;
  --text-color: #34495e;
  --text-light: #7f8c8d;
  --border-radius: 12px;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
body {
  font-family: "Mukta Mahee", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: #ffffff;
  padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: var(--dark-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  font-family: var(--font-abril-fatface), serif;
}
